# install with PYINSTALLER_COMPILE_BOOTLOADER=1 pip install -r
qdarkstyle
qtawesome
pyqt5
ffpyplayer
AdvancedHTMLParser
pillow
pyinstaller @ git+https://github.com/pyinstaller/pyinstaller.git@develop
